:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color: rgba(255, 255, 255, 0.87);
  background-color: #121213;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


main {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
  text-align: center;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.5rem;  
  line-height: 1.1;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 2px solid #3a3a3c;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

button {
  background-color: #3a3a3c;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #4a4a4c;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid #3a3a3c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 3em;
  transition: all 0.3s ease-in-out;
}

.results {
  display: flex;
  gap:1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
